@charset 'UTF-8';

body{
	/* background-color: #F2F2F2; */
	margin: 0;
	padding-top: 120px;
}
.clearfix{
	clear: both;
}
.TopTitle{
	width: 100%;
	height: 120px;
	padding-left: 3em;
	box-sizing: border-box;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#febbbb+0,fe9090+45,ff5c5c+100;Red+3D+%231 */
background: rgb(254,187,187); /* Old browsers */
background: -moz-linear-gradient(top, rgb(254,187,187) 0%, rgb(254,144,144) 45%, rgb(255,92,92) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(254,187,187) 0%,rgb(254,144,144) 45%,rgb(255,92,92) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(254,187,187) 0%,rgb(254,144,144) 45%,rgb(255,92,92) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
	position: fixed;
	top: 0;
	left: 0;
}
.Fixed{
	display: block;
	width: 100%;
	padding: 0.5em;
	background-color: #FFF;
	box-shadow:2px 2px 4px rgba(0,0,0,0.2);
	position: fixed;
    top: 120px;
    left: -16px;
}
.Fixed2{
	display: block;
	width: 100%;
	padding: 0.5em;
	background-color: #FFF;
	position: fixed;
    top: 320px;
    left: -16px;
}
.TopTitle img{
	width: 113px;
	height: 113px;
	float: left;
}
.TopTitle span{
	float: left;
	color: #FFF;
	padding-left: 0.4em;
}
.content{
	width: 95%;
	/* height: calc(100vh - 120px); */
	background-color: #FFF;
	margin: 0 auto;
	box-sizing: border-box;
	padding-bottom: 2em;

}
.content .Card_sign{
	width: 95%;
	margin-bottom:2em;
	text-align: center;
	padding-top: 2em;
}
.content .Card_sign_area{
    width: calc(100% - 350px);
    float: right;
}
.content .Card_sign img{
	max-width: 300px;
	height: auto;
	
}
.content .Card_sign .BigTitle{
	font-size: 2em;
	font-weight: 900;
	color: #F15A24;
}
.content .Card_sign .smallTitle{
	font-size: 1.4em;
	font-weight: 600;
	margin-bottom: 1em;
}
.content .Card_sign input{
	width: 80%;
	height: 2em;
	font-size: 1.6em;
	line-height: 1em;
	color: #333;
	border: 0;
	border-bottom: 1px solid #000;
	outline: none;
	text-align: center;
}
.content .WelcomeBar{
	width: 100%;
	height: 1.5em;
	color: #FFF;
	background-color: #72C8D7;
	margin: 0 auto;
	font-size: 1.5em;
	line-height: 1.5em;
	box-sizing: border-box;
	padding:0 1.5em;
	text-align: center;
}
.content .WelcomeBar .timer{
	text-align: center;
}
.activity_yes .Buttons{
	padding-top: 1em;
	box-sizing: border-box;
    margin-bottom: 3em;
}
.activity_yes .Buttons .moreActivity,.activity_yes .Buttons .BackToIndex,.activity_yes .Buttons .Refresh,.activity_yes .Buttons .ReturnPage{
	display: inline-block;
	padding: 0.4em 0.7em;
	font-size: 1.5em;
	float: right;	
	margin-right: 0.5em;
	border-radius: 0.5em;
}
.activity_yes .Buttons .ReturnPage{
	background-color: #DDD;
	color: #333;
}
.activity_yes .Buttons .ReturnPage:hover{
	background-color: #CCC;
	color: #333;
	border: 3px solid #DDD;
}
.activity_yes .Buttons .BackToIndex{
	background-color: #DDD;
	color: #333;
}
.activity_yes .Buttons .BackToIndex:hover{
	background-color: #CCC;
	color: #333;
	border: 3px solid #DDD;
}
.activity_yes .Buttons .moreActivity{
	color: #FFF;
	background-color: rgb(255,0,132); 
}
.activity_yes .Buttons .moreActivity:hover{
	color:#FFF;
	background-color:rgb(255,33,122);
	border: 3px solid #C40055;
}
.activity_yes .Buttons .Refresh{
	color: #FFF;
	background-color: #8CC63F; 
}
.activity_yes .Buttons .Refresh:hover{
	color:#FFF;
	background-color: #8CC63F;
	border: 3px solid #48922D;
}
.MyActivity{
	width: 98%;
	box-sizing: border-box;
	margin: 0 auto;
    /* height: 300px; */
    /* overflow: auto; */
    padding-top: 330px;
}
.MyActivity .Titles ul{
	width: 100%;
	height: 1.3em;
	font-size: 1.3em;
}
.MyActivity .Titles ul li{
	padding: 0.3em 0.5em;
	float: left;
	text-align: center;
	background-color: #EFEFEF;
	margin-right: 0.5%;
}
.activity_yes ul{
	list-style: none;
	padding-left: 0;
	
}
.MyActivity ul li:first-child{
	width: 17%;
}
.MyActivity ul li:nth-child(2){
	width: 53%;
}
.MyActivity ul li:nth-child(3){
	width: 18%;
}
.MyActivity .Content ul li{
	display: block;
	font-size: 1.3em;
	padding: 0.6em 0.5em;
	float: left;
	text-align: center;
}
.MyActivity .Content ul li .SignIn:link, .MyActivity .Content ul li .SignIn:visited{
	display: block;
	font-size: 1em;
	padding: 0.4em 0.5em;
	background-color: #29ABE2;
	color: #FFF;
	text-decoration: none;
	border-radius: 0.3em;
	font-weight: 900;
}
.MyActivity .Content ul li .SignIn:hover{
	color: #FFF;
	background-color: #217DFF;
	border: 3px solid #29ABE2;
}
.MyActivity .Content ul li .SignOut:link, .MyActivity .Content ul li .SignOut:visited{
	display: block;
	font-size: 1em;
	padding: 0.4em 0.5em;
	background-color: #F15A24;
	color: #FFF;
	text-decoration: none;
	border-radius: 0.3em;
	font-weight: 900;
}
.MyActivity .Content ul li .SignOut:hover{
	color: #FFF;
	background-color: #D25A24;
	border: 3px solid #F38024;
}
.SignInfo ul li .SignOut:link, .SignInfo ul li .SignOut:visited{
	display: inline-block;
	font-size: 1em;
	padding: 0.6em 0.8em;
	background-color: #DB5D24;
	color: #FFF;
	text-decoration: none;
	border-radius: 0.3em;
	font-weight: 900;
}
.SignInfo ul li .SignOut:hover{
	color: #FFF;
	background-color: #F35D24;
}
.SignInfo ul li .Change:link, .SignInfo ul li .Change:visited{
	display: inline-block;
	font-size: 1em;
	padding: 0.6em 0.8em;
	background-color: #8A56AA;
	color: #FFF;
	text-decoration: none;
	border-radius: 0.3em;
	font-weight: 900;
}
.SignInfo ul li .Change:hover{
	color: #8A56AA;
	background-color: #EFEFEF;
}
.SignInfo ul li .Cancel:link, .SignInfo ul li .Cancel:visited{
	display: inline-block;
	font-size: 1em;
	padding: 0.6em 0.8em;
	background-color: #666;
	color: #FFF;
	text-decoration: none;
	border-radius: 0.3em;
	font-weight: 900;
}
.SignInfo ul li .Cancel:hover{
	color: #FFF;
	background-color: #CCC;
}
.warning{
	display: inline-block;
	padding: 0.2em 0.4em;
	background-color: rgba(255, 0 , 255, 0.1);
	font-size: 1em;
	color: red;
	font-weight: 900;
}
.SignInfo{
	text-align: center;
	/* height: 400px; */
	font-size: 1.4em;
	margin: 0 auto;
	/* padding-left: 20%; */
	box-sizing: border-box;
	padding-top: 350px;
}
.SignInfo ul li{
	margin-bottom: 0.5em;
}
.SignInfo ul li .MyName{
	color: #333;
	font-weight: 600;
	font-size: 1.2em;
}
.SignInfo ul li .Department{
	color: #29ABE2;
	font-weight: 600;
}
.SignInfo ul li .ActivityName{
	color: orange;
	font-weight: 600;
}
.Department_Choice{
	padding: 9em 1em 1em 1em;
	box-sizing: border-box;
}
.Department_Choice .DP_BOX{
	width: calc((100% - 30px) / 4);
	height: 150px;
	background-color: #CCC;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	text-align: center;
	border-radius: 1em;
	color: #FFF;
	padding: 0.2em 1em;
	box-sizing: border-box;
	text-shadow: 1px 1px 7px #000000;
	cursor: pointer;
}
/* 局處顏色排序 */
.Department_Choice .DP_BOX:nth-child(3n-1){
	background-color: #0069CD;
	border: 4px solid #0059BC;
}
.Department_Choice .DP_BOX:nth-child(3n){
	background-color: #90B400;
	border: 4px solid #48922D;
}
.Department_Choice .DP_BOX:nth-child(3n+1){
	background-color: #C40055;
	border: 4px solid #A44900;
}
.Department_Choice .DP_BOX:nth-child(4n){
	margin-right: 0px;
}
.Department_Choice .DP_BOX:hover{
	background-color: #EFEFEF;
	color: #666 !important;
	border: 3px solid #999;
	text-shadow: none;
}
.Department_Choice .DP_BOX:hover .DP_Name{
	color: #666;
}
.Department_Choice .DP_BOX:hover .ActivityQuantity .ActivityNumber{
	color: #666;
}
.DP_BOX .DP_Name{
	font-size: 2em;
	/* border-bottom: 2px solid #FFF; */
	color: yellow;
	font-weight: 400;
}
.DP_BOX .ActivityQuantity{
	font-size: 1.6em;
}
.DP_BOX .ActivityQuantity .ActivityNumber{
	color: lightyellow;
}
.AllActivity{
	width: 98%;
	box-sizing: border-box;
	margin: 0 auto;
	padding-top: 9em;
}
.AllActivity .Titles{
	margin-bottom: 2em;
}
.AllActivity .Titles ul{
	width: 100%;
	height: 1.5em;
	font-size: 1.5em;
}
.AllActivity .Titles ul li{
	padding: 0.3em 0;
	float: left;
	text-align: center;
	background-color: #EFEFEF;
}
.AllActivity ul li:first-child{
	width: 17%;
}
.AllActivity ul li:nth-child(2){
	width: 53%;
}
.AllActivity ul li:nth-child(3){
	width: 18%;
}
.AllActivity .Content ul li{
	display: block;
	font-size: 1.3em;
	margin-bottom: 1em;
	float: left;
	text-align: center;
	color: #560074;
	font-weight: 600;
}
.AllActivity .Titles ul li:nth-child(3n){
	width: 20%;
}
.AllActivity .Titles ul li:nth-child(3n-1){
	width: 50%;
}
.AllActivity .Titles ul li:nth-child(3n+1){
	width: 30%;
}
.AllActivity .Content ul li:nth-child(3n){
	width: 20%;
}
.AllActivity .Content ul li:nth-child(3n-1){
	width: 50%;
}
.AllActivity .Content ul li:nth-child(3n+1){
	width: 30%;
}
.AllActivity .Content ul li .SignIn:link, .AllActivity .Content ul li .SignIn:visited{
	display: block;
	font-size: 1em;
	padding: 0.4em 0.5em;
	background-color: #29ABE2;
	color: #FFF;
	text-decoration: none;
	border-radius: 0.3em;
	font-weight: 900;
}
.AllActivity .Content ul li .SignIn:hover{
	color: #FFF;
	background-color: #217DFF;
	border: 3px solid #29ABE2;
}
.AllActivity .Content ul li .SignOut:link, .AllActivity .Content ul li .SignOut:visited{
	display: block;
	font-size: 1em;
	padding: 0.4em 0.5em;
	background-color: #F15A24;
	color: #FFF;
	text-decoration: none;
	border-radius: 0.3em;
	font-weight: 900;
}
.AllActivity .Content ul li .SignOut:hover{
	color: #FFF;
	background-color: #D25A24;
	border: 3px solid #F38024;
}
.card_type , .card_number , .card_time{
	font-size: 0.8em;
	color: #333;
}
/* 寬度小於768px */
@media screen and (max-width: 768px){
	body{
		padding-top: 40px;
	}
	.content{
		width: 100%;
	}
	.TopTitle span{
		width: 12em;
   		height: 40px;
		line-height: 40px;
		font-size: 1.2em;
		overflow: hidden;
	}
	.TopTitle img{
		width: 40px;
		height: 40px;
	}
	.TopTitle{
		height: 40px;
		padding-left: 1.5em;
	}
	.content .Card_sign img{
		display: none;
		
	}
	.content .Card_sign_area{
	    width: 95%;
	    float: right;
	    margin-bottom: 1em;
	}
	.activity_yes .Buttons .ReturnPage,.activity_yes .Buttons .moreActivity,.activity_yes .Buttons .BackToIndex,.activity_yes .Buttons .Refresh{
		font-size: 1.1em;
	}
	.SignInfo{
		width: 90%;
		padding-left: 0%;
		font-size: 1.3em;
		padding-top: 280px;
	}
	.content .Card_sign .BigTitle{
		font-size: 1.5em;
	}
	.content .Card_sign .smallTitle{
		font-size: 1em;
	}
	.MyActivity{
		/* height: 200px; */
		padding-top: 280px !important; 
	}
	.MyActivity .Titles ul{
		height: 1.2em;
		font-size: 1.1em;
	}
	.MyActivity ul li:first-child{
		width: 24%;
	}
	.MyActivity ul li:nth-child(2){
		width: 40%;
	}
	.MyActivity ul li:nth-child(3){
		width: 16%;
	}
	.MyActivity .Content ul li{
		font-size: 1.1em;
	}
	.Department_Choice .DP_BOX{
		width: calc((100% - 20px) / 2);
		height: 100px;
		padding: 0.2em 1em;
	}
	.DP_BOX .DP_Name{
		font-size: 1.4em;
	}
	.DP_BOX .ActivityQuantity{
		font-size: 1.2em;
	}
	.content .WelcomeBar{
		font-size: 1em;
		line-height: 1.4em;
	}
	.Buttons a span .fa{
		display: none;
	}
	.AllActivity{
		padding-top: 8em;
	}
	.AllActivity .Titles ul{
		height: 1.2em;
		font-size: 1.1em;
	}
	.AllActivity ul li:first-child{
		width: 24%;
	}
	.AllActivity ul li:nth-child(2){
		width: 40%;
	}
	.AllActivity ul li:nth-child(3){
		width: 16%;
	}
	.AllActivity .Content ul li{
		font-size: 1.1em;
	}
	.Fixed{
	    top: 40px;
	    left: -16px;
	}
	.Fixed2{
	    top: 220px;
	}
/* 	.activity_yes ul{
		padding-top: 0.5em;
	} */
}
/* 寬度大於769px */
@media screen and (min-width: 769px){
	.TopTitle span{
		line-height: 140px;
		font-size: 2.3em;
	}
}