@charset 'UTF-8';

.masthead h1 {
    font-size: 4rem;
    color: #FFF; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.masthead h3 em {
    color: #FFF; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    font-weight: 300;
}
.contact_us > div{
	margin-bottom: 1em !important;
}
.bg-primary {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9a3cc+0,000063+100 */
	background: rgb(201,163,204); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgb(201,163,204) 0%, rgb(0,0,99) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgb(201,163,204) 0%,rgb(0,0,99) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgb(201,163,204) 0%,rgb(0,0,99) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9a3cc', endColorstr='#000063',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
.btn-primary {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9a3cc+0,000063+100 */
	background: rgb(201,163,204)!important; /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgb(201,163,204) 0%, rgb(0,0,99) 100%)!important; /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgb(201,163,204) 0%,rgb(0,0,99) 100%)!important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgb(201,163,204) 0%,rgb(0,0,99) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9a3cc', endColorstr='#000063',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border: 0;
}
.text_shadow{
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
#success_all .container table{
	color: #FFF;
	border: 0;
}
#success_all .container table tbody tr td:first-child{
	width: 30%;
	font-weight: 600;
}
#success_all .container table th{
	font-weight: 600;
	font-size: 1.2em;
}
.bg_purple_cyan{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9a3cc+0,00c9c6+100 */
	background: rgb(201,163,204); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgb(201,163,204) 0%, rgb(0,201,198) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgb(201,163,204) 0%,rgb(0,201,198) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgb(201,163,204) 0%,rgb(0,201,198) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9a3cc', endColorstr='#00c9c6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#contact_all{
	padding: 8rem 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url(../img/contact-us-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sidebar-wrapper {
    background: rgb(201,163,204)!important; /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgb(201,163,204) 0%, rgb(0,0,99) 100%)!important; /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgb(201,163,204) 0%,rgb(0,0,99) 100%)!important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgb(201,163,204) 0%,rgb(0,0,99) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9a3cc', endColorstr='#000063',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border: 0;
}
#workdays .box_1{
	border: 1px solid #FFF;
	padding: 30px 15px;
/* 	width: calc((100% - 1em) / 3)!important; */
/* 	margin-right: 0.5em; */
	box-sizing: border-box;
}
#workdays .box_1 .s_title{
	font-size: 1.4em;
	border-bottom: 1px solid #FFF;
	margin-bottom: 1em;
	padding-bottom: 1em;
	font-weight: 800;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
#workdays .box_1 ul{
	/* list-style: none; */
	text-align: left !important;
	font-size: 1.2em;
}
#workdays .box_1 ul li{
	margin-bottom: 1em;
}
.text-faded {
    color: #666;
    font-weight: 300;
}
#system_setting .row > div{
	margin-bottom: 1em;
}
#system_setting .circle_items{
	height: 14rem;
    width: 14rem;
    border-radius: 8.5em;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
	margin: 0 auto;
	color: purple;
	font-size: 1.4em;
	margin-bottom: 1em;
}
.circle_items i{
	font-size: 5em;
	color: #00ACC1;
}


@media (min-width: 992px){

}