@charset 'UTF-8';

.masthead h1 {
    font-size: 4rem;
    color: #FFF; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.masthead h3 em {
    color: #FFF; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    font-weight: 300;
}
.contact_us > div{
	margin-bottom: 1em !important;
}
.bg-primary {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9a3cc+0,000063+100 */
	background: rgb(201,163,204); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgb(201,163,204) 0%, rgb(0,0,99) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgb(201,163,204) 0%,rgb(0,0,99) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgb(201,163,204) 0%,rgb(0,0,99) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9a3cc', endColorstr='#000063',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
.btn-primary {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9a3cc+0,000063+100 */
	background: rgb(201,163,204)!important; /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgb(201,163,204) 0%, rgb(0,0,99) 100%)!important; /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgb(201,163,204) 0%,rgb(0,0,99) 100%)!important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgb(201,163,204) 0%,rgb(0,0,99) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9a3cc', endColorstr='#000063',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border: 0;
}
.text_shadow{
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
#success_all .container table{
	color: #FFF;
	border: 0;
}
#success_all .container table tbody tr td:first-child{
	width: 30%;
	font-weight: 600;
}
#success_all .container table th{
	font-weight: 600;
	font-size: 1.2em;
}
.bg_purple_cyan{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9a3cc+0,00c9c6+100 */
	background: rgb(201,163,204); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgb(201,163,204) 0%, rgb(0,201,198) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgb(201,163,204) 0%,rgb(0,201,198) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgb(201,163,204) 0%,rgb(0,201,198) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9a3cc', endColorstr='#00c9c6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#contact_all{
	padding: 8rem 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url(../img/contact-us-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sidebar-wrapper {
    background: rgb(201,163,204)!important; /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgb(201,163,204) 0%, rgb(0,0,99) 100%)!important; /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgb(201,163,204) 0%,rgb(0,0,99) 100%)!important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgb(201,163,204) 0%,rgb(0,0,99) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9a3cc', endColorstr='#000063',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border: 0;
}
#workdays .box_1{
	border: 1px solid #FFF;
	padding: 30px 15px;
/* 	width: calc((100% - 1em) / 3)!important; */
/* 	margin-right: 0.5em; */
	box-sizing: border-box;
}
#workdays .box_1 .s_title{
	font-size: 1.4em;
	border-bottom: 1px solid #FFF;
	margin-bottom: 1em;
	padding-bottom: 1em;
	font-weight: 800;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
#workdays .box_1 ul{
	/* list-style: none; */
	text-align: left !important;
	font-size: 1.2em;
}
#workdays .box_1 ul li{
	margin-bottom: 1em;
}
.text-faded {
    color: #666;
    font-weight: 300;
}
#system_setting .row > div{
	margin-bottom: 1em;
}
#system_setting .circle_items{
	height: 14rem;
    width: 14rem;
    border-radius: 8.5em;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
	margin: 0 auto;
	color: purple;
	font-size: 1.4em;
	margin-bottom: 1em;
}
.circle_items i{
	font-size: 5em;
	color: #00ACC1;
}
#all_machine .box_1{
	text-align: left;
	margin-bottom: 1em;
	padding: 1.5em;
	box-sizing: border-box;
}
#all_machine .box_1 .s_title{
	font-weight: 600;
	border-bottom: 1px solid #FFF;
	padding-bottom: 0.5em;
	font-size: 1.2em;
    margin-bottom: 0.5em;
    padding-top: 1em;	
    text-align: center;
}
#all_machine ul {
	list-style: none;
	font-size: 0.9em;
	padding-left: 0;
	line-height: 2em;
}
#all_machine .box_1 .xs_title{
    display: block;
    color: #666;
    font-weight: 600;
    padding: 0.1em 0;
    background-color: rgba(178,235,242 ,0.6);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 0.5em;
	text-align: center;
}
#all_machine .box_1 img{
	max-height: 235px;
	display: flex;
	margin: 0 auto;
}
#about .lead{
	font-size: 1.2em;
    line-height: 2.4em;
    margin-bottom: 1em;
    letter-spacing: 0.1em;
}
h2{
	color: orange;
    margin-bottom: 1em;
    font-weight: 400;
}
.bg_purple_cyan h2{
	color: #FFF;
}
#all_machine ul li{
	margin-bottom: 1em;
}
#all_machine ul li a:hover{
	text-decoration: none;
}
#all_machine ul li a:hover .xs_title{
	background-color:rgba(178,235,242 ,0.9);
	transition: 0.3s;
}
#software .carousel{
	border: 40px solid #333;
    border-radius: 36px;
    margin-bottom: 2em;
}
#software li img{
	max-width: 100%;
}
#software table tbody .title{
	font-size: 1.2em;
	font-weight: 900;
	color: #1565C0;
}


.contact_data ul{
	list-style: none;
	padding-left: 0;
}
.contact_data ul li{
	padding: 0.5em;
	font-size: 1.2em;
	color: #666;
}
.mb-md-0, .my-md-0 {
    margin-bottom: 2em!important;
}
header .SystemPoints ul{
	padding-left: 0;
	list-style: none;
}
header .SystemPoints ul li{
    display: inline-flex;
    justify-content: space-between;
    margin-right: 2em;
    padding: 0.5em 1em;
    font-size: 2em;
    color: #FFF;
    border-radius: 0.3em;
    margin-bottom: 1em;
}
header .SystemPoints_mobile ul li{
    display: none;
}
header .SystemPoints ul li:first-child,header .SystemPoints_mobile ul li:first-child{
    background-color: #FF7BAC;
}
header .SystemPoints ul li:nth-child(2),header .SystemPoints_mobile ul li:nth-child(2){
    background-color: #92CE0B;
}
header .SystemPoints ul li:nth-child(3),header .SystemPoints_mobile ul li:nth-child(3){
    background-color: #2E98FF;
}
header .SystemPoints ul li:nth-child(4),header .SystemPoints_mobile ul li:nth-child(4){
    background-color: #FF8917;
}
header .title2{
	background-color: rgba(255,255,255,0.4);
	color:#4A6587;
	padding:0.1em;
	font-size: 3em;
	font-weight: 500;
	margin-bottom: 1em;
}
.img-thumbnail {
    background-color: rgba(255, 255, 255, 0.9);
}


@media (max-width: 767px){
	#systemplan .sm_picture{
		display: block;
	}
	#systemplan .md_picture{
		display: none;
	}
	#software .carousel{
		border: 20px solid #333;
	    border-radius: 10px;
	    margin-bottom: 2em;
	}
	header .SystemPoints ul li{
    	display: none;
	}
	header .SystemPoints_mobile ul li{
	    display: block;
	    padding: 0.5em 1em;
	    font-size: 1.2em;
	    color: #FFF;
	    border-radius: 0.3em;
	    margin-bottom: 1em;
	}
	header .title2{
		font-size: 2em;
	}
}

@media (min-width: 768px){
	#systemplan .sm_picture{
		display: none;
	}
	#systemplan .md_picture{
		display: block;
	}
}