@charset 'utf-8';
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
	font-family: 'Noto Sans TC', sans-serif;
}


body {
	margin: 0;
	background-color: #505050;
}

#header{
	width: 100%;
	height: 7vh;
	background-color: #000;
	color: #FFF;
	padding-top: 0.8em;
	padding-left: 5.2em;
	font-size: 1.2em;
	display: block;
}

#header_phone{
	width: 100%;
	height: 7vh;
	background-color: #000;
	color: #FFF;
	padding-top: 0.8em;
	padding-left: 5.2em;
	font-size: 1.2em;
	display: none;
}

.work {
	height: 46.5vh;
	background-size: cover;
	background-position: center;
	border: 1px solid #FFF;
}

#web1 {
	background-image: url('../imgs/web_1.jpg');
	position: relative;
	overflow: hidden;
}

#web1 img:hover {
	transform:scale(0.8)
}
