// fonts
$font-basic:14px;
// colors
$nav_text-color: #4652B2;


$leave-color1:#88B266;     //病假
$leave-color2:#CE867F;     //不可抗力
$leave-color3:#474B90;     //事假
$leave-color4:#72BDFF;     //公假
$leave-color5:#6EA3A3;     //喪假
$leave-color6:#4188D9;     //其它1_居家隔離
$leave-color7:#7E68C6;     //其它2_居家檢疫
$leave-color8:#4AB0B4;     //其它3_自主健康管理
$leave-color9:#DB9B43;     //其它4_發燒或呼吸道症狀
$leave-color10:#458822;    //其它5_非屬上述原因
$leave-color11:#FF5F41;    //其它6_到校發燒

// 間距
$margin: 0.5em;
$margin-sm: 0.3em;
$margin-lg: 1em;
