@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  background-color: #ebebeb;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  color: #4e4e4e; }

header {
  margin-bottom: 0.5em; }

.btn-material {
  border: 0;
  padding: 0.6em 1em;
  border-radius: 0px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  margin-left: 0.5em; }

.request {
  /* .form-check > span{
		display: inline-block;
	} */ }
  .request ul {
    padding-left: 1em;
    list-style: none; }
  .request h1 {
    color: #717171;
    font-size: 15px;
    font-weight: 400;
    width: 85%;
    display: inline-block;
    padding-left: 0.3em; }
    .request h1:before {
      content: "";
      width: 3px;
      height: 1em;
      background-color: #DF7676;
      display: inline-block;
      position: relative;
      top: 2px;
      margin-right: 5px; }
    @media screen and (max-width: 768px) {
      .request h1 {
        width: 60%; } }
  .request h2 {
    color: #000;
    font-size: 15px;
    font-weight: 400; }
    .request h2 span {
      color: #FFC65A;
      font-size: 2em;
      margin-right: 3px;
      position: relative;
      top: 2px; }
  .request .alle_list {
    font-size: 15px; }
  @media screen and (max-width: 768px) {
    .request .alle_list.card-w {
      padding: 0;
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; } }
  .request .request_list_width li ul li {
    padding: 0.7em; }
    .request .request_list_width li ul li span {
      display: inline; }
    .request .request_list_width li ul li:nth-child(1) {
      width: 22%; }
    .request .request_list_width li ul li:nth-child(2) {
      width: 13%; }
    .request .request_list_width li ul li:nth-child(3) {
      width: 13%; }
    .request .request_list_width li ul li:nth-child(4) {
      width: 22%;
      color: #8b8b8b; }
    .request .request_list_width li ul li:nth-child(5) {
      width: 18%; }
    .request .request_list_width li ul li:nth-child(6) {
      width: 12%; }
  @media screen and (max-width: 768px) {
    .request .request_list_width {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-left: 0; }
      .request .request_list_width li ul {
        padding-left: 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .request .request_list_width li ul li {
          padding: 0.3em; }
          .request .request_list_width li ul li span {
            display: inline-block; }
          .request .request_list_width li ul li:nth-child(1) {
            width: 50%;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1; }
          .request .request_list_width li ul li:nth-child(2) {
            width: 30%;
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
            text-align: right; }
          .request .request_list_width li ul li:nth-child(3) {
            width: 50%;
            -webkit-box-ordinal-group: 7;
            -ms-flex-order: 6;
            order: 6;
            text-align: right; }
          .request .request_list_width li ul li:nth-child(4) {
            width: 100%;
            -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
            order: 4; }
          .request .request_list_width li ul li:nth-child(5) {
            width: 50%;
            -webkit-box-ordinal-group: 6;
            -ms-flex-order: 5;
            order: 5; }
          .request .request_list_width li ul li:nth-child(6) {
            width: 20%;
            -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
            order: 3;
            text-align: right; } }
  .request .status--confirm {
    color: #445a84;
    font-weight: bold;
    text-align: right; }
  .request .status--success {
    color: #458822;
    font-weight: bold;
    text-align: right; }
  .request .status--warning {
    color: #ff5f41;
    font-weight: bold;
    text-align: right; }
  .request .reason {
    color: #6686b2; }
    .request .reason:before {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #6686b2;
      margin-right: 5px;
      position: relative;
      bottom: 1px; }
  .request .bigHead {
    width: 32px;
    height: 32px;
    margin-right: 0.5em;
    border-radius: 50%;
    overflow: hidden;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .request .bigHead img {
      max-width: 100%;
      max-height: 100%; }
  .request .student_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0.5em;
    font-weight: bold; }
  .request .form-check {
    width: calc(100% - 3em);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .request .point {
    color: #ef8e54; }
  .request .yellow {
    color: #FFF;
    font-weight: 500; }
  .request .inputGroup {
    background-color: #fff;
    display: inline-block;
    position: relative;
    margin-right: 0.3em;
    margin-bottom: 0.5em; }
  .request .inputGroup label {
    padding: 7px 10px;
    border-radius: 3px;
    width: 100%;
    display: block;
    text-align: left;
    color: #717171;
    cursor: pointer;
    position: relative;
    z-index: 2;
    -webkit-transition: color 200ms ease-in;
    -o-transition: color 200ms ease-in;
    transition: color 200ms ease-in;
    overflow: hidden;
    border: 1px solid #CECECE;
    font-size: 1em;
    margin-bottom: 0; }
  .request .inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: #717171;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1; }
  .request .inputGroup label:after {
    content: ''; }
  .request .inputGroup input:checked ~ label {
    color: #fff; }
  .request .inputGroup input:checked ~ label:before {
    -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1; }
  .request .inputGroup input:checked ~ label:after {
    background-color: #54E0C7;
    border-color: #54E0C7;
    display: none; }
  .request .inputGroup input {
    position: absolute;
    left: 0px;
    top: 50%;
    visibility: hidden; }
  .request label,
  .request label::before,
  .request label::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }
  .request .choose_date {
    font-size: 1.1em;
    font-weight: 600;
    color: #000; }
  .request .switch {
    margin-top: 2px;
    display: inline-block;
    position: relative;
    top: 4px; }
    .request .switch input[type=checkbox] {
      height: 0;
      width: 0;
      visibility: hidden;
      display: none;
      margin-top: 2px; }
    .request .switch label {
      cursor: pointer;
      text-indent: -9999px;
      width: 30px;
      height: 15px;
      background: grey;
      display: block;
      border-radius: 15px;
      position: relative; }
    .request .switch label:after {
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      width: 13px;
      height: 13px;
      background: #fff;
      border-radius: 15px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .request .switch input:checked + label {
      background: #4CAF50; }
    .request .switch input:checked + label:after {
      left: calc(100% - 2px);
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%); }
    .request .switch label:active:after {
      width: 17px; }

.list-striped > li:nth-child(odd) {
  background-color: #f8f8f8; }

@media screen and (max-width: 768px) {
  .list-striped > li {
    background-color: #ffffff;
    padding: 1em;
    margin-bottom: 0.75em;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15); } }

.leave_color1 {
  color: #88B266; }
  .leave_color1:before {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 1em;
    border-radius: 3px;
    background-color: #88B266;
    margin-right: 0.3em;
    position: relative;
    top: 2px; }

.leave_color2 {
  color: #CE867F; }
  .leave_color2:before {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 1em;
    border-radius: 3px;
    background-color: #CE867F;
    margin-right: 0.3em;
    position: relative;
    top: 2px; }

.leave_color3 {
  color: #474B90; }
  .leave_color3:before {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 1em;
    border-radius: 3px;
    background-color: #474B90;
    margin-right: 0.3em;
    position: relative;
    top: 2px; }

.leave_color4 {
  color: #72BDFF; }
  .leave_color4:before {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 1em;
    border-radius: 3px;
    background-color: #72BDFF;
    margin-right: 0.3em;
    position: relative;
    top: 2px; }

.leave_color5 {
  color: #6EA3A3; }
  .leave_color5:before {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 1em;
    border-radius: 3px;
    background-color: #6EA3A3;
    margin-right: 0.3em;
    position: relative;
    top: 2px; }

.leave_color6 {
  color: #4188D9; }
  .leave_color6:before {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 1em;
    border-radius: 3px;
    background-color: #4188D9;
    margin-right: 0.3em;
    position: relative;
    top: 2px; }

.leave_color7 {
  color: #7E68C6; }
  .leave_color7:before {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 1em;
    border-radius: 3px;
    background-color: #7E68C6;
    margin-right: 0.3em;
    position: relative;
    top: 2px; }

.leave_color8 {
  color: #4AB0B4; }
  .leave_color8:before {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 1em;
    border-radius: 3px;
    background-color: #4AB0B4;
    margin-right: 0.3em;
    position: relative;
    top: 2px; }

.leave_color9 {
  color: #DB9B43; }
  .leave_color9:before {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 1em;
    border-radius: 3px;
    background-color: #DB9B43;
    margin-right: 0.3em;
    position: relative;
    top: 2px; }

.leave_color10 {
  color: #458822; }
  .leave_color10:before {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 1em;
    border-radius: 3px;
    background-color: #458822;
    margin-right: 0.3em;
    position: relative;
    top: 2px; }

.leave_color11 {
  color: #FF5F41; }
  .leave_color11:before {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 1em;
    border-radius: 3px;
    background-color: #FF5F41;
    margin-right: 0.3em;
    position: relative;
    top: 2px; }

.default a:link, .default a:visited {
  color: #4652B2; }

.nav-tabs {
  border-bottom: 0; }

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: transparent; }

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #4652B2;
  background-color: #fff;
  border-color: transparent;
  border-bottom: 3px solid  #4652B2; }
